<!doctype html>
<html lang="pl-PL">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/reveal.js/dist/reset.css">
		<link rel="stylesheet" href="/reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="/reveal.js/dist/theme/moon.css">
		<link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<script src="https://cdn.jsdelivr.net/npm/reveal.js-plugins@latest/chalkboard/plugin.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js-plugins@latest/chalkboard/style.css">
		<style>
			.reveal pre code {max-height: 600px;}

			/* Fix for Chrome */
			.reveal .r-stack.r-stretch {
				justify-content: center;
				align-content: center;
			}
		</style>
		<title>{{ with .Title }}{{ . }}{{ else }}Wykład{{ end }}{{ with .Params.subtitle }}: {{ . }}{{ end }}</title>
	</head>
	<body>
		<div class="reveal"><div class="slides">
		{{ with .Title }}
		<section>
			<h1>{{ . }}{{ with $.Params.subtitle }}:<br>{{ . }}{{ end }}</h1>
			<p>
				Mariusz Chilmon<br>
				<a href="mailto:m.chilmon@amw.gdynia.pl">m.chilmon@amw.gdynia.pl</a><br>
				<a href="https://uc.vmario.org">uc.vmario.org</a>
			</p>
		</section>
		{{ end }}
{{ .Content }}
		</div></div>
		<script src="/reveal.js/dist/reveal.js"></script>
		<script src="/reveal.js/plugin/markdown/markdown.js"></script>
		<script src="/reveal.js/plugin/highlight/highlight.js"></script>
		<script src="/reveal.js/plugin/notes/notes.js"></script>
		<script src="/reveal.js/plugin/zoom/zoom.js"></script>
		<script src="/reveal.js/plugin/search/search.js"></script>
		<script src="/reveal.js/plugin/math/math.js"></script>
		<script>
			Reveal.initialize({
				hash: true,
				transition: 'convex',
				backgroundTransition: 'convex',
				mouseWheel: true,
				chalkboard: {
					boardmarkerWidth: 3,
					chalkWidth: 7,
					grid: {color: 'rgb(50,50,10,0.5)', distance: 40, width: 1},
					eraser: {src: path + 'img/sponge.png', radius: 20},
					boardmarkers : [
							{color: 'rgba(30,144,255, 1)', cursor: 'url(' + path + 'img/boardmarker-blue.png), auto'},
							{color: 'rgba(255,220,0,1)', cursor: 'url(' + path + 'img/boardmarker-yellow.png), auto'},
							{color: 'rgba(220,20,60,1)', cursor: 'url(' + path + 'img/boardmarker-red.png), auto'},
							{color: 'rgba(50,205,50,1)', cursor: 'url(' + path + 'img/boardmarker-green.png), auto'},
							{color: 'rgba(100,100,100,1)', cursor: 'url(' + path + 'img/boardmarker-black.png), auto'},
							{color: 'rgba(255,140,0,1)', cursor: 'url(' + path + 'img/boardmarker-orange.png), auto'},
							{color: 'rgba(150,0,20150,1)', cursor: 'url(' + path + 'img/boardmarker-purple.png), auto'}
					],
					chalks: [
							{color: 'rgba(255,255,255,0.5)', cursor: 'url(' + path + 'img/chalk-white.png), auto'},
							{color: 'rgba(96, 154, 244, 0.5)', cursor: 'url(' + path + 'img/chalk-blue.png), auto'},
							{color: 'rgba(237, 20, 28, 0.5)', cursor: 'url(' + path + 'img/chalk-red.png), auto'},
							{color: 'rgba(20, 237, 28, 0.5)', cursor: 'url(' + path + 'img/chalk-green.png), auto'},
							{color: 'rgba(220, 133, 41, 0.5)', cursor: 'url(' + path + 'img/chalk-orange.png), auto'},
							{color: 'rgba(220,0,220,0.5)', cursor: 'url(' + path + 'img/chalk-purple.png), auto'},
							{color: 'rgba(255,220,0,0.5)', cursor: 'url(' + path + 'img/chalk-yellow.png), auto'}
					]
				},
				plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealZoom, RevealSearch, RevealMath.KaTeX,
					RevealChalkboard]
			});
		</script>
	</body>
</html>
